<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: white;">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top" style="color: black;">
      {%- if site.logo -%}
        <img height="{{ site.logo.height | default: 52 }}" src="{{ site.logo.path }}"/>
      {%- else -%}
        {{ site.title }}
      {%- endif -%}
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="border-color: black;">
      <span style="color: black;">Menu</span>
      <i class="fas fa-bars" style="color: black;"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        {%- for link in site.data.navigation[site.locale].nav -%}
          <li class="nav-item">
            {%- if link.url -%}
              <a class="nav-link js-scroll-trigger" href="{{ link.url }}" style="color: black;">{{ link.title }}</a>
            {%- else -%}
              <a class="nav-link js-scroll-trigger" href="#{{ link.section }}" style="color: black;">{{ link.title }}</a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="masthead" style="background-color: white; background-image: none;">
  <div class="container">
    <div class="intro-text">
      <div class="row">
        {% if site.data.sitetext[site.locale].header.image %}
        <div class="col-md-4 text-center">
          <img class="rounded-circle mb-4" src="{{ site.data.sitetext[site.locale].header.image }}" alt="Profile Photo" style="width: 250px; height: 250px; object-fit: cover;">
          {% if site.data.sitetext[site.locale].header.social %}
          <ul class="list-inline social-buttons">
            {% for link in site.data.sitetext[site.locale].header.social %}
            <li class="list-inline-item">
              <a href="{{ link.url }}">
                <i class="{{ link.icon }}"></i>
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          <!-- Resume Download Button -->
          <div class="mt-3">
            <a href="assets/ElijahBatkoski_resume_SAS_Writer.pdf" download class="btn btn-outline-dark btn-sm">
              <i class="fas fa-download mr-2"></i>Download Resume
            </a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="intro-heading text-uppercase" style="font-size: 2.5rem; line-height: 1.2; color: black;">{{ site.data.sitetext[site.locale].header.title | markdownify | strip_html }}</div>
          <div class="intro-lead-in" style="font-size: 1.1rem; line-height: 1.5; margin-bottom: 25px; color: black;">{{ site.data.sitetext[site.locale].header.text | markdownify }}</div>
        </div>
        {% else %}
        <div class="col-lg-12 text-center">
          <div class="intro-heading text-uppercase" style="font-size: 2.5rem; line-height: 1.2; color: black;">{{ site.data.sitetext[site.locale].header.title | markdownify | strip_html }}</div>
          <div class="intro-lead-in" style="font-size: 1.1rem; line-height: 1.5; margin-bottom: 25px; color: black;">{{ site.data.sitetext[site.locale].header.text | markdownify }}</div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>